name: deploy book to github pages

on:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Install project dependencies and build the book
        run: |
          cargo install --version '0.4.40' mdbook && \
          cargo install --version '0.1.1' mdbook-jupyter && \
          mdbook build

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload production-ready build files
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./book

  deploy:
    name: deploy
    needs: build
    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
